{% extends 'index.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>Register</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.mail) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.pseudo) }}
        {{ form_row(registrationForm.telephone) }}
        {{ form_row(registrationForm.admin) }}
        {{ form_row(registrationForm.actif) }}

        <button class="btn">Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}