{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Profil{% endblock %}

{% block body %}

    <div class="container-fluid pt-4">
        <div class="row">
            <div class="col">
                <h2>Modifier mon profil</h2>
                <hr>
            </div>
        </div>
        {{ form_start(formUser) }}
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-lg-3 text-center">
                {% if user.pictureFilename != null %}
                    <img width="250" height="250" src="{{ asset('uploads/pictures/' ~ user.pictureFilename) }}">
                {% else %}
                    <img width="250" height="250" src="{{ asset('assets/img/default-user-image.png') }}">
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-6 col-lg-3">
                <strong>{{ form_row(formUser.pseudo) }}</strong><br>
                <strong>{{ form_row(formUser.nom) }}</strong><br>
                <strong>{{ form_row(formUser.prenom) }}</strong><br>
                <strong>{{ form_row(formUser.mail) }}</strong><br>
                <strong>{{ form_row(formUser.telephone) }}</strong><br>
                <strong>{{ form_row(formUser.site) }}</strong><br>
                <strong>{{ form_row(formUser.password) }}</strong><br>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-12 col-md-6 col-lg-3">
                    <strong>{{ form_row(formUser.picture) }}</strong><br><br>
                    <h5><strong>Notifications :</strong></h5><br><br>
                    <strong>{{ form_row(formUser.publicationParSite) }}</strong><br>
                    <strong>{{ form_row(formUser.OrganisateurInscriptionDesistement) }}</strong><br>
                    <strong>{{ form_row(formUser.administrateurPublication) }}</strong><br>
                    <strong>{{ form_row(formUser.administrationModification) }}</strong><br>
                </div>
            {% else %}
                <div class="col-12 col-md-6 col-lg-3">
                    <strong>{{ form_row(formUser.picture) }}</strong><br><br>
                    <h5><strong>Notifications :</strong></h5><br><br>
                    <strong>{{ form_row(formUser.publicationParSite) }}</strong><br>
                    <strong>{{ form_row(formUser.OrganisateurInscriptionDesistement) }}</strong>
                </div>
            {% endif %}
        </div>
    </div>
        <div class="row justify-content-center mb-4">
            <div class="col-6 col-md-4 col-lg-2 text-center">
                <button class="btn-lg btn-info" type="submit"><strong>Confirmer</strong></button>
                <button class="btn-lg btn-danger" href="{{ path('profil_detail', {'id':user.id}) }}"><strong>Annuler</strong></button>
            </div>
            {#<div class="col-6 col-md-4 col-lg-2 text-center">
                <a class="btn btn-danger" href="{{ path('profil_detail', {'id':user.id}) }}"><strong>Annuler</strong></a>
            </div>#}
        </div>
        {{ form_end(formUser) }}
    </div>

{% endblock %}