{% extends 'base.html.twig' %}
{#{%  form_theme sortieForm 'bootstrap_4_layout.html.twig' %}#}

{% block title %}Créer une sortie | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid pt-3">
        <div class="row">
            <div class="col">
                <h2>Créer une sortie</h2>
                <hr>
            </div>
        </div>
        {{ form_start(sortieForm) }}
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <strong>{{ form_row(sortieForm.nom) }}</strong><br>
                <strong>{{ form_row(sortieForm.nbInscriptionMax) }}</strong><br>
                <strong>{{ form_row(sortieForm.duree) }}</strong><br>
                <strong>{{ form_row(sortieForm.lieu) }}</strong><br>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <strong>{{ form_row(sortieForm.dateHeureDebut) }}</strong><br>
                <strong>{{ form_row(sortieForm.dateLimiteInscription) }}</strong><br>
                <strong>{{ form_row(sortieForm.commentaire) }}</strong><br>
            </div>
        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-12 col-md-6 col-lg-4">
                {{ form_row(sortieForm.publier) }}
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                {{ form_row(sortieForm.enregistrer) }}
            </div>
        </div>
        {{ form_end(sortieForm) }}
    </div>
{% endblock %}

